<div class="navbar-lewagon row">
  <div class=".navbar-lewagon .navbar-brand">
    <%= link_to (image_tag("logo-cocktail.png", alt: "Cocktails&Dreams", width: 60, class:"avatar")), root_path %>
  </div>
  <h3>Cocktails&Dreams</h3>
  <h2><%= link_to "Add your cocktail", new_cocktail_url %></h2>

</div>
